:root {
    --hoversmcolor: #F7A74F;
    --gradtopcolor: #0A020D;
    --gradmdlcolor: #311E26;
    --gragmdl2color: #6F4139;
    --gradbottcolor: #97521B;
    --colortextpdr: #fcfcfc;
    --paddingpdr: 1.6rem;
    --fontszpdr: 1.6rem;
}

html {
    font-size: 62.5%;
    font-family: "Goldman", sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
}


/*INDEX*/

.background-headerHeroBanner {
    background: linear-gradient(#0A020D, #311E26, #6F4139, #97521B);
    background-repeat: no-repeat;
    color: var(--colortextpdr);
    min-height: 100vh;
  }

.maxWidth {
    max-width: 144rem;
    margin: auto;
}

a,
p {
    font-size: var(--fontszpdr);
    letter-spacing: .1rem;
}

/* INDEX MOBILE*/

.container_header {
    display: flex;
    justify-content: center;
}

.topHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header-container_logo {
    margin: auto;
    padding: calc(var(--paddingpdr) *2.5);
    box-sizing: border-box;
}

.header-container_logo img {
    display: block;
    width: 30rem;
    max-width: 100%;
}

.header-container_nav ul {
    text-align: center;
    display: block;
}

.header-container_nav ul a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    text-transform: uppercase;
    color: var(--colortextpdr);
}

.header-container_nav ul a:hover {
    background-color: var(--hoversmcolor);
    color: var(--gradtopcolor);
}

/* .caixinha span {
    text-transform: uppercase;
    color: var(--colortextpdr);
    display: block;
}
.caixinha {
    padding:7rem calc(var(--paddingpdr)/2) ;
    box-sizing: border-box;
}

.h1teste { 
    font-size: clamp(2rem, 7vw, 5rem)
}

.subh1teste {
font-size: clamp(1rem, 3.5vw, 2.5rem);
letter-spacing: .5rem;    
} */

.container-title_heroBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(var(--paddingpdr)*5) var(--paddingpdr);
    box-sizing: border-box;
}

.title_invisible {
    display: none;
}

.container-title_heroBanner img {
    width: 70rem;
    max-width: 100%;
    display: flex;
    margin: auto;
    padding: 0 var(--paddingpdr);
    box-sizing: border-box;
}

.section-heroBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--paddingpdr)*2);
    padding-bottom: calc(var(--paddingpdr)*2);
    box-sizing: border-box;
}

.card-heroBanner {
    background-color: rgba(0, 0, 0, 0.295);
    max-width: 75%;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--paddingpdr);
    box-sizing: border-box;
}

.card-heroBanner h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    box-sizing: border-box;
    letter-spacing: .6rem;
    text-align: center;
    padding: var(--paddingpdr);
    box-sizing: border-box;
}

.card-heroBanner p {
    font-size: 1.2rem;
    text-align: left;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: .2rem;
    padding: calc(var(--paddingpdr)*1.5) var(--paddingpdr);
    box-sizing: border-box;
}

span[class^="icon-"] {
    display: block;
    color: var(--colortextpdr);
    font-size: 4rem;
    padding: var(--paddingpdr);
    padding-bottom: 0;
    box-sizing: border-box;
    text-align: center;
}

span[class$="-right2"] {

    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.btn-article {
    text-decoration: none;
    color: var(--colortextpdr);
    font-size: 1rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: calc(var(--paddingpdr) *.5);
    padding: 0 calc(var(--paddingpdr) *.5) 0 0;
}

/* TECNOLOGIAS MOBILE*/
.container-tech {
/* border: 1px solid red; */
padding: var(--paddingpdr);
box-sizing: border-box;

}



.container-tech_title>p{
    font-size: 1.4rem;
    line-height: 1.5;
    padding:  calc( var(--paddingpdr)*3) 0 ;
box-sizing: border-box;
}

.wrapper-tech {
    display: flex;
    flex-direction: column;
gap: var(--paddingpdr);

}


.title-tech {
font-size: 3.2rem;
text-transform: uppercase;
}

.card-tech {
    /* border: 1px solid yellow; */
    display: flex;
}

.card-tech_header {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    gap: calc( var(--paddingpdr)/2);
 

}

.card-tech_header img {
    display: block;
    width: 5rem;
}
.card-tech_header p {
    display: block;
    font-size: 1.3rem;
    flex-grow: 1;
 
}

.card-description {
    /* border: 1px solid green; */
    padding-top: 1rem;
    }
.card-description p {
    font-size: 1rem;
    letter-spacing: .2rem;
    line-height: 1.5;
    padding: 0 calc(var(--paddingpdr) /2);
}
.card-description a {
    text-decoration: none;
    display: block;
    width: fit-content;
    text-align: right;
    margin-left: auto;
    padding: calc(var(--paddingpdr)/4);
    box-sizing: border-box;
    margin-top: var(--paddingpdr);
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    color: #0A020D;
    background-color: var(--colortextpdr);
}

.container-tech_ferramentas {    
    padding-top: calc(var(--paddingpdr) *2);
    box-sizing: border-box;
}


.title-tech_bottom {
    font-size: 2rem;
text-transform: uppercase;

}

.container-ferramentas_Minbottom {
    
    display: flex;
    gap: 1rem;
    
  
}

.card-tech_bottom {
 
    padding: var(--paddingpdr);
    box-sizing: border-box;
  
    
 
}

.card-tech_bottom h5 {
    font-size: 1.6rem ;
    text-align: center;
    padding-top: calc(var(--paddingpdr)/2);
box-sizing: border-box;
}
.card-tech_bottom img {
display: block;
margin: auto;
width: 3.3rem;
height: 3.3rem;

}

.card-tech_bottom p {
    font-size: 1rem;
line-height: 1.5;
letter-spacing: .1rem;
padding-top: calc(var(--paddingpdr)/2);
box-sizing: border-box;

}


















@media screen and (min-width:64em) {
    /* INDEX MOBILE*/
    .container_header {
        background-color: rgba(0, 0, 0, 0.308);
    }

    .topHeader {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-container_logo {
        margin: 0;
        padding: var(--paddingpdr);
    }

    .header-container_logo img {
        display: block;
        width: 15rem;
        max-width: 100%;
    }

    .header-container_nav ul {
        display: flex;
        align-items: center;
        align-content: center;
        gap: var(--paddingpdr);
        padding: var(--paddingpdr);
    }
 
    /* TECNOLOGIAS MOBILE*/















}
