@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eyus30');
  src:  url('fonts/icomoon.eot?eyus30#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eyus30') format('truetype'),
    url('fonts/icomoon.woff?eyus30') format('woff'),
    url('fonts/icomoon.svg?eyus30#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-target:before {
  content: "\e9b3";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-whatsapp:before {
  content: "\ea93";
}
